{{#if post.}}
<div class="date date-{{post.state}} cut-off cut-off-{{post.state}}">
  <p>
    <span class="day">{{ post. | date:"d" }}</span>
    <span class="month">{{ post. | date:"M" }}</span>
    <span class="year">{{ post. | date:"Y" }}</span> 
  </p>
</div>
{{else}}
<div class="date date-{{post.state}} cut-off cut-off-{{post.state}}">
  <p>
    <span class="day">&nbsp;</span>
    <span class="month">&nbsp;</span>
    <span class="year rotate90">DRAFT</span>
  </p>
</div>
{{/if}}