{{extends "blog/base.html"}}

{{load staticfiles}}

{{block title}}{{ block.super }}: About{{endblock}}

{{block content}}
<h1 class="page-title">About Us</h1>

<div class="row">
  <div class="col-sm-8 col-md-8">
      <h2 class="subtitle">
          A technical blog that matters.<br>
          By engineers. For engineers.
      </h2>
      <div class="col-sm-4 col-md-4">
        <div class="thumbnail">
          <img src="/images/about-research.jpg" data-holder-rendered="true" style="width: 100%; display: block;">
          <div class="caption">
            <h3>Latest<br>Research</h3>
            <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
          </div>
        </div>
      </div>
      <div class="col-sm-4 col-md-4">
        <div class="thumbnail">
          <img src="/images/about-industry.jpg" data-holder-rendered="true" style="width: 100%; display: block;">
          <div class="caption">
            <h3>Industry<br>Trends</h3>
            <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
          </div>
        </div>
      </div>
      <div class="col-sm-4 col-md-4">
        <div class="thumbnail">
          <img src="/images/about-innovation.jpg" data-holder-rendered="true" style="width: 100%; display: block;">
          <div class="caption">
            <h3>Breakthrough<br>Innovation</h3>
            <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
          </div>
        </div>
      </div>
      <div id="firstWord" class="main-text">
        <p>At explicabo corrupti possimus ex cum ipsam esse facere excepturi, quidem modi culpa in saepe incidunt illo omnis, odio doloribus voluptatibus laboriosam, tempora adipisci placeat nulla ex quos. Saepe laboriosam aut sint, cumque ipsum facilis accusantium natus maiores inventore neque aut. Maxime nostrum praesentium reprehenderit labore blanditiis vel, veritatis ut praesentium placeat error vitae iusto, consequatur velit nobis error minus culpa porro corrupti assumenda. Nobis facere exercitationem distinctio facilis obcaecati dolorem voluptas unde cumque.</p>
          
        <p>Facere culpa consectetur neque obcaecati ea dolore dolor, illo saepe ducimus hic exercitationem odio perferendis cumque architecto quos aut repellendus? Expedita nihil minus inventore eum, reiciendis itaque adipisci quaerat magni corrupti dolorum quidem dolore.</p>
          
        <p>In unde officia adipisci. Suscipit officiis dolore corrupti earum ipsa quas laudantium soluta neque sint veniam, maxime obcaecati id optio, hic illum eius esse debitis deserunt id, facilis illum quos reprehenderit unde earum quis. Necessitatibus reiciendis reprehenderit architecto fugiat. Distinctio quo hic non in quis?</p>
          
        <p>Libero officia architecto cupiditate voluptas ea modi eligendi recusandae perspiciatis, doloribus autem eligendi eos at maxime culpa officiis quo porro sit.</p>
          
        <p>Nam eveniet quas fugiat impedit omnis maxime quod veniam quasi tempora, quam voluptatum cupiditate itaque laboriosam incidunt? Ducimus totam omnis, molestias vitae sequi eum blanditiis voluptas veniam neque vel assumenda inventore provident. Fugit ducimus sint neque nemo laborum beatae atque, vero velit tenetur commodi asperiores voluptatem, repudiandae laboriosam qui, reiciendis fuga tenetur eligendi rerum enim quae?</p>
          
        <p>Ipsam quaerat soluta fuga numquam, obcaecati accusantium velit voluptate dignissimos ea a repellendus non perferendis unde voluptatum, beatae omnis ipsa enim, quibusdam velit dolores, perspiciatis dolore odit facere voluptatem tenetur. Est maiores libero exercitationem aut, debitis a harum possimus doloremque, quaerat temporibus enim dolorum a ad aliquam, culpa nobis optio ducimus et possimus quidem sint. Quisquam quasi quae ducimus beatae ipsum rem voluptatibus, suscipit porro atque aperiam qui nam nisi?</p>
      </div>
  </div>
  <div class="col-sm-4 col-md-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Contact Us</h3>
      </div>
      <div class="panel-body">
        <address>
          <strong>The Tech Blog</strong><br>
          No. 25, Bull Temple Road<br>
          Rajagopalnagar, Chamrajpet<br>
          Bengaluru 560018<br>
          Karnataka, India<br><br>
          
          <i class="fa fa-lg fa-phone"></i>
          +91-80-25440890<br><br>
          
          <i class="fa fa-lg fa-at"></i>
          <a href="mailto:enquiry@thetechblog.in">enquiry@thetechblog.in</a>
        </address>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Locate Us</h3>
      </div>
      <div class="panel-body">
        <iframe style="width:100%" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3888.21956954563!2d77.56520281482187!3d12.957797190864996!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bae15f97eb0cd59%3A0x90c0d849b8f4d513!2s25%2C+Bull+Temple+Rd%2C+Rajagopalnagar%2C+Chamrajpet%2C+Bengaluru%2C+Karnataka+560018!5e0!3m2!1sen!2sin!4v1445782754832" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
      </div>
    </div>
  </div>
</div>

{{endblock content}}
